<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans.xsd   
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.galaxy"></context:component-scan>     
	<context:property-placeholder location="classpath:config/*.properties"/>
	
	<bean id="serviceRegistry" class="com.galaxy.rpc.registry.ServiceRegistry">
		<property name="registryAddress" value="${registry.address}"></property>
	</bean>
	
	<bean id="rpcServer" class="com.galaxy.rpc.server.RpcServer">
		<property name="serverAddress" value="${server.address}"></property>
		<property name="serviceRegistry" ref="serviceRegistry"></property>
	</bean>
		   
</beans>		   